<link href=../bower_components/polymer/polymer.html rel=import>
<link href=../bower_components/paper-checkbox/paper-checkbox.html rel=import>

<dom-module id=my-new-view>
  <template>
    <style>
      :host {
        display: block;
        padding: 16px;
      }
    </style>

    <h1>New view</h1>
    <paper-checkbox>Ready to deploy!</paper-checkbox>
  </template>
  <script>
     class MyNewView extends Polymer.Element {
       static get is() { return 'my-new-view'; }
     }
     customElements.define(MyNewView.is, MyNewView);
  </script>
</dom-module>
